## Final Project Submission

Please fill out:
* Student name: Titus Kaluma
* Student pace: full time_Remote
* Scheduled project review date/time: 
* Instructor name: ASha Deen
* Blog post URL:N/A

Initial Step: To preview the 6 provided data sources and determine which to work with.
All sources will be read and converted to a PandaFrame dataset as outlined below
	    Data Source	                PD_Dataframe
      1	Box Office Mojo	            df_BOM
      2	Rotten Tomatoes_Movie Info	df_RTMI
      3	Rotten Tomatoes_Reviews	    df_RTR
      4	The Movie DB	            df_TMDB
      5	The Numbers	                df_TNumbers
      6	IMDB	                    df_IMDB

Import all the required libraries below;

In [5]:
import csv
import pandas as pd
import sqlite3

In [6]:
df_BOM=pd.read_csv('Data\BOM.csv')
print(df_BOM)
print(df_BOM.isna().sum())

                                            title      studio  domestic_gross  \
0                                     Toy Story 3          BV     415000000.0
1                      Alice in Wonderland (2010)          BV     334200000.0
2     Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
3                                       Inception          WB     292600000.0
4                             Shrek Forever After        P/DW     238700000.0
...                                           ...         ...             ...
3382                                    The Quake       Magn.          6200.0
3383                  Edward II (2018 re-release)          FM          4800.0
3384                                     El Pacto        Sony          2500.0
3385                                     The Swan  Synergetic          2400.0
3386                            An Actor Prepares       Grav.          1700.0

     foreign_gross  year
0        652000000  2010
1        691300000  2010
2        664300000  2010
3        535700000  2010
4        513900000  2010
...            ...   ...
3382           NaN  2018
3383           NaN  2018
3384           NaN  2018
3385           NaN  2018
3386           NaN  2018

[3387 rows x 5 columns]
title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [7]:
df_RTMI=pd.read_csv('Data\RTMovieInfo.tsv', delimiter='\t')
print(df_RTMI)
print(df_RTMI.isna().sum())

        id                                           synopsis rating  \
0        1  This gritty, fast-paced, and innovative police...      R
1        3  New York City, not-too-distant-future: Eric Pa...      R
2        5  Illeana Douglas delivers a superb performance ...      R
3        6  Michael Douglas runs afoul of a treacherous su...      R
4        7                                                NaN     NR
...    ...                                                ...    ...
1555  1996  Forget terrorists or hijackers -- there's a ha...      R
1556  1997  The popular Saturday Night Live sketch was exp...     PG
1557  1998  Based on a novel by Richard Powell, when the l...      G
1558  1999  The Sandlot is a coming-of-age story about a g...     PG
1559  2000  Suspended from the force, Paris cop Hubert is ...      R

                                                  genre            director  \
0                   Action and Adventure|Classics|Drama    William Friedkin
1                     Drama|Science Fiction and Fantasy    David Cronenberg
2                     Drama|Musical and Performing Arts      Allison Anders
3                            Drama|Mystery and Suspense      Barry Levinson
4                                         Drama|Romance      Rodney Bennett
...                                                 ...                 ...
1555   Action and Adventure|Horror|Mystery and Suspense                 NaN
1556                 Comedy|Science Fiction and Fantasy        Steve Barron
1557  Classics|Comedy|Drama|Musical and Performing Arts      Gordon Douglas
1558    Comedy|Drama|Kids and Family|Sports and Fitness  David Mickey Evans
1559  Action and Adventure|Art House and Internation...                 NaN

                                                writer  theater_date  \
0                                       Ernest Tidyman   Oct 9, 1971
1                         David Cronenberg|Don DeLillo  Aug 17, 2012
2                                       Allison Anders  Sep 13, 1996
3                      Paul Attanasio|Michael Crichton   Dec 9, 1994
4                                         Giles Cooper           NaN
...                                                ...           ...
1555                                               NaN  Aug 18, 2006
1556  Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner  Jul 23, 1993
1557                                               NaN   Jan 1, 1962
1558                  David Mickey Evans|Robert Gunter   Apr 1, 1993
1559                                        Luc Besson  Sep 27, 2001

          dvd_date currency  box_office      runtime             studio
0     Sep 25, 2001      NaN         NaN  104 minutes                NaN
1      Jan 1, 2013        $     600,000  108 minutes  Entertainment One
2     Apr 18, 2000      NaN         NaN  116 minutes                NaN
3     Aug 27, 1997      NaN         NaN  128 minutes                NaN
4              NaN      NaN         NaN  200 minutes                NaN
...            ...      ...         ...          ...                ...
1555   Jan 2, 2007        $  33,886,034  106 minutes    New Line Cinema
1556  Apr 17, 2001      NaN         NaN   88 minutes  Paramount Vantage
1557  May 11, 2004      NaN         NaN  111 minutes                NaN
1558  Jan 29, 2002      NaN         NaN  101 minutes                NaN
1559  Feb 11, 2003      NaN         NaN   94 minutes  Columbia Pictures

[1560 rows x 12 columns]
id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64

In [8]:
df_RTR=pd.read_csv('Data\RTReviews.tsv', delimiter='\t',  encoding='latin1')
print(df_RTR)
print(df_RTR.isna().sum())

         id                                             review rating   fresh  \
0         3  A distinctly gallows take on contemporary fina...    3/5   fresh
1         3  It's an allegory in search of a meaning that n...    NaN  rotten
2         3  ... life lived in a bubble in financial dealin...    NaN   fresh
3         3  Continuing along a line introduced in last yea...    NaN   fresh
4         3             ... a perverse twist on neorealism...     NaN   fresh
...     ...                                                ...    ...     ...
54427  2000  The real charm of this trifle is the deadpan c...    NaN   fresh
54428  2000                                                NaN    1/5  rotten
54429  2000                                                NaN    2/5  rotten
54430  2000                                                NaN  2.5/5  rotten
54431  2000                                                NaN    3/5   fresh

                  critic  top_critic         publisher                date
0             PJ Nabarro           0   Patrick Nabarro   November 10, 2018
1         Annalee Newitz           0           io9.com        May 23, 2018
2           Sean Axmaker           0  Stream on Demand     January 4, 2018
3          Daniel Kasman           0              MUBI   November 16, 2017
4                    NaN           0      Cinema Scope    October 12, 2017
...                  ...         ...               ...                 ...
54427      Laura Sinagra           1     Village Voice  September 24, 2002
54428  Michael Szymanski           0        Zap2it.com  September 21, 2005
54429       Emanuel Levy           0   EmanuelLevy.Com       July 17, 2005
54430   Christopher Null           0    Filmcritic.com   September 7, 2003
54431    Nicolas Lacroix           0      Showbizz.net   November 12, 2002

[54432 rows x 8 columns]
id                0
review         5563
rating        13517
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

In [9]:
df_TMDB=pd.read_csv('Data\TMDB.csv')
print(df_TMDB)
print(df_TMDB.isna().sum())

       Unnamed: 0            genre_ids      id original_language  \
0               0      [12, 14, 10751]   12444                en
1               1  [14, 12, 16, 10751]   10191                en
2               2        [12, 28, 878]   10138                en
3               3      [16, 35, 10751]     862                en
4               4        [28, 878, 12]   27205                en
...           ...                  ...     ...               ...
26512       26512             [27, 18]  488143                en
26513       26513             [18, 53]  485975                en
26514       26514         [14, 28, 12]  381231                en
26515       26515      [10751, 12, 28]  366854                en
26516       26516             [53, 27]  309885                en

                                     original_title  popularity release_date  \
0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                          How to Train Your Dragon      28.734   2010-03-26
2                                        Iron Man 2      28.515   2010-05-07
3                                         Toy Story      28.005   1995-11-22
4                                         Inception      27.920   2010-07-16
...                                             ...         ...          ...
26512                         Laboratory Conditions       0.600   2018-10-13
26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
26514                                  The Last One       0.600   2018-10-01
26515                                  Trailer Made       0.600   2018-06-22
26516                                    The Church       0.600   2018-10-05

                                              title  vote_average  vote_count
0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                          How to Train Your Dragon           7.7        7610
2                                        Iron Man 2           6.8       12368
3                                         Toy Story           7.9       10174
4                                         Inception           8.3       22186
...                                             ...           ...         ...
26512                         Laboratory Conditions           0.0           1
26513                               _EXHIBIT_84xxx_           0.0           1
26514                                  The Last One           0.0           1
26515                                  Trailer Made           0.0           1
26516                                    The Church           0.0           1

[26517 rows x 10 columns]
Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [10]:
unique_languages = df_TMDB['original_language'].unique()
unique_languages

array(['en', 'nl', 'es', 'ja', 'sv', 'de', 'fr', 'cn', 'it', 'ru', 'zh',
       'hi', 'no', 'ko', 'da', 'fi', 'pl', 'te', 'hu', 'tr', 'pt', 'he',
       'fa', 'th', 'cs', 'et', 'tl', 'lt', 'xx', 'bs', 'ar', 'is', 'el',
       'mr', 'hr', 'ro', 'sr', 'uk', 'nb', 'hz', 'ca', 'bg', 'sl', 'lv',
       'si', 'ab', 'ta', 'bo', 'id', 'sq', 'bn', 'gu', 'lo', 'ne', 'kk',
       'hy', 'ps', 'kn', 'vi', 'ku', 'ka', 'ml', 'ur', 'mi', 'eu', 'sn',
       'cy', 'ha', 'ky', 'yi', 'pa', 'xh', 'cr', 'sw', 'af', 'dz'],
      dtype=object)

In [11]:
df_TNumbers=pd.read_csv('Data\TNumbers.csv')
print(df_TNumbers)
print(df_TNumbers.isna().sum())

      id  release_date                                        movie  \
0      1  Dec 18, 2009                                       Avatar
1      2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides
2      3   Jun 7, 2019                                 Dark Phoenix
3      4   May 1, 2015                      Avengers: Age of Ultron
4      5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi
...   ..           ...                                          ...
5777  78  Dec 31, 2018                                       Red 11
5778  79   Apr 2, 1999                                    Following
5779  80  Jul 13, 2005                Return to the Land of Wonders
5780  81  Sep 29, 2015                         A Plague So Pleasant
5781  82   Aug 5, 2005                            My Date With Drew

     production_budget domestic_gross worldwide_gross
0         $425,000,000   $760,507,625  $2,776,345,279
1         $410,600,000   $241,063,875  $1,045,663,875
2         $350,000,000    $42,762,350    $149,762,350
3         $330,600,000   $459,005,868  $1,403,013,963
4         $317,000,000   $620,181,382  $1,316,721,747
...                ...            ...             ...
5777            $7,000             $0              $0
5778            $6,000        $48,482        $240,495
5779            $5,000         $1,338          $1,338
5780            $1,400             $0              $0
5781            $1,100       $181,041        $181,041

[5782 rows x 6 columns]
id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [12]:
conn = sqlite3.connect('Data\IMDB.db')
df_IMDB = pd.read_sql("""
SELECT primary_title AS Movie_Title, start_year AS Release_Year, genres AS Genre, averagerating AS AVG_Rating, numvotes AS Num_of_Votes
  FROM movie_basics
  JOIN movie_ratings 
  USING (movie_id)
  ORDER BY Release_Year;
""",conn)
print(df_IMDB)
print(df_IMDB.isna().sum())
print(len(df_IMDB['Movie_Title'].unique()))

                                  Movie_Title  Release_Year  \
0                                 Pál Adrienn          2010
1                        So Much for Justice!          2010
2                Children of the Green Dragon          2010
3                           The Final Journey          2010
4      Quantum Quest: A Cassini Space Odyssey          2010
...                                       ...           ...
73851                            Swarm Season          2019
73852                        Diabolik sono io          2019
73853                       Sokagin Çocuklari          2019
73854              La vida sense la Sara Amat          2019
73855                              Drømmeland          2019

                            Genre  AVG_Rating  Num_of_Votes
0                           Drama         6.8           451
1                         History         4.6            64
2                           Drama         6.9           120
3                           Drama         8.8             8
4      Adventure,Animation,Sci-Fi         5.1           287
...                           ...         ...           ...
73851                 Documentary         6.2             5
73852                 Documentary         6.2             6
73853                Drama,Family         8.7           136
73854                        None         6.6             5
73855                 Documentary         6.5            11

[73856 rows x 5 columns]
Movie_Title       0
Release_Year      0
Genre           804
AVG_Rating        0
Num_of_Votes      0
dtype: int64
69993

In [13]:
IMDB_unique = df_IMDB.drop_duplicates(subset=['Movie_Title'],keep = 'first')
print(IMDB_unique)
print(IMDB_unique.isna().sum())

                                  Movie_Title  Release_Year  \
0                                 Pál Adrienn          2010
1                        So Much for Justice!          2010
2                Children of the Green Dragon          2010
3                           The Final Journey          2010
4      Quantum Quest: A Cassini Space Odyssey          2010
...                                       ...           ...
73850               Padmavyuhathile Abhimanyu          2019
73851                            Swarm Season          2019
73852                        Diabolik sono io          2019
73853                       Sokagin Çocuklari          2019
73854              La vida sense la Sara Amat          2019

                            Genre  AVG_Rating  Num_of_Votes
0                           Drama         6.8           451
1                         History         4.6            64
2                           Drama         6.9           120
3                           Drama         8.8             8
4      Adventure,Animation,Sci-Fi         5.1           287
...                           ...         ...           ...
73850                       Drama         8.4           365
73851                 Documentary         6.2             5
73852                 Documentary         6.2             6
73853                Drama,Family         8.7           136
73854                        None         6.6             5

[69993 rows x 5 columns]
Movie_Title       0
Release_Year      0
Genre           775
AVG_Rating        0
Num_of_Votes      0
dtype: int64

In [14]:
Merged_df1 = pd.merge(IMDB_unique[['Movie_Title', 'Release_Year', 'Genre', 'AVG_Rating']], df_TNumbers[['movie', 'production_budget', 'worldwide_gross']], how='inner', left_on='Movie_Title', right_on='movie')
print(Merged_df1)
print(Merged_df1.isna().sum())

               Movie_Title  Release_Year                       Genre  \
0            The Overnight          2010                        None
1         Anderson's Cross          2010        Comedy,Drama,Romance
2                  Tangled          2010  Adventure,Animation,Comedy
3      Dinner for Schmucks          2010                      Comedy
4               The A-Team          2010   Action,Adventure,Thriller
...                    ...           ...                         ...
2179  Blinded by the Light          2019      Biography,Comedy,Drama
2180          The Specials          2019                      Comedy
2181                Heroes          2019                 Documentary
2182                  Push          2019                 Documentary
2183             Unplanned          2019             Biography,Drama

      AVG_Rating                 movie production_budget worldwide_gross
0            7.5         The Overnight          $200,000      $1,165,996
1            5.5      Anderson's Cross          $300,000              $0
2            7.8               Tangled      $260,000,000    $586,477,240
3            5.9   Dinner for Schmucks       $69,000,000     $86,796,502
4            6.8            The A-Team      $110,000,000    $177,241,171
...          ...                   ...               ...             ...
2179         6.2  Blinded by the Light       $15,000,000              $0
2180         7.2          The Specials        $1,000,000         $12,996
2181         7.3                Heroes          $400,000        $655,538
2182         7.3                  Push       $38,000,000     $49,678,401
2183         6.3             Unplanned        $6,000,000     $18,107,621

[2184 rows x 7 columns]
Movie_Title          0
Release_Year         0
Genre                2
AVG_Rating           0
movie                0
production_budget    0
worldwide_gross      0
dtype: int64

In [15]:
Merged_df2 = pd.merge(Merged_df1[['Movie_Title', 'Release_Year', 'Genre', 'AVG_Rating', 'production_budget', 'worldwide_gross']], df_TMDB[['title', 'original_language']], how='inner', left_on='Movie_Title', right_on='title')
print(Merged_df2)
print(Merged_df2.isna().sum())

                   Movie_Title  Release_Year                       Genre  \
0                The Overnight          2010                        None
1             Anderson's Cross          2010        Comedy,Drama,Romance
2                      Tangled          2010  Adventure,Animation,Comedy
3          Dinner for Schmucks          2010                      Comedy
4                   The A-Team          2010   Action,Adventure,Thriller
...                        ...           ...                         ...
2221  Dragon Ball Super: Broly          2018  Action,Adventure,Animation
2222          Teefa in Trouble          2018         Action,Comedy,Crime
2223           Fahrenheit 11/9          2018                 Documentary
2224                 Hit & Run          2019               Action,Comedy
2225                 Long Shot          2019              Comedy,Romance

      AVG_Rating production_budget worldwide_gross                     title  \
0            7.5          $200,000      $1,165,996             The Overnight
1            5.5          $300,000              $0          Anderson's Cross
2            7.8      $260,000,000    $586,477,240                   Tangled
3            5.9       $69,000,000     $86,796,502       Dinner for Schmucks
4            6.8      $110,000,000    $177,241,171                The A-Team
...          ...               ...             ...                       ...
2221         8.0        $8,500,000    $122,747,755  Dragon Ball Super: Broly
2222         7.4        $1,500,000         $98,806          Teefa in Trouble
2223         6.7        $5,000,000      $6,653,715           Fahrenheit 11/9
2224         7.1       $22,000,000     $17,216,955                 Hit & Run
2225         7.2       $40,000,000     $43,711,031                 Long Shot

     original_language
0                   en
1                   en
2                   en
3                   en
4                   en
...                ...
2221                ja
2222                ur
2223                en
2224                en
2225                en

[2226 rows x 8 columns]
Movie_Title          0
Release_Year         0
Genre                2
AVG_Rating           0
production_budget    0
worldwide_gross      0
title                0
original_language    0
dtype: int64

In [16]:
Merged_df2

,Movie_Title,Release_Year,Genre,AVG_Rating,production_budget,worldwide_gross,title,original_language
0,The Overnight,2010,None,7.5,"$200,000","$1,165,996",The Overnight,en
1,Anderson's Cross,2010,"Comedy,Drama,Romance",5.5,"$300,000",$0,Anderson's Cross,en
2,Tangled,2010,"Adventure,Animation,Comedy",7.8,"$260,000,000","$586,477,240",Tangled,en
3,Dinner for Schmucks,2010,Comedy,5.9,"$69,000,000","$86,796,502",Dinner for Schmucks,en
4,The A-Team,2010,"Action,Adventure,Thriller",6.8,"$110,000,000","$177,241,171",The A-Team,en
...,...,...,...,...,...,...,...,...
2221,Dragon Ball Super: Broly,2018,"Action,Adventure,Animation",8.0,"$8,500,000","$122,747,755",Dragon Ball Super: Broly,ja
2222,Teefa in Trouble,2018,"Action,Comedy,Crime",7.4,"$1,500,000","$98,806",Teefa in Trouble,ur
2223,Fahrenheit 11/9,2018,Documentary,6.7,"$5,000,000","$6,653,715",Fahrenheit 11/9,en
2224,Hit & Run,2019,"Action,Comedy",7.1,"$22,000,000","$17,216,955",Hit & Run,en
2225,Long Shot,2019,"Comedy,Romance",7.2,"$40,000,000","$43,711,031",Long Shot,en

In [17]:
DF_4_EDA = Merged_df2.rename(columns={'Release_Year': 'Year', 'production_budget': 'Cost', 'worldwide_gross': 'Revenue', 'original_language': 'Language'})
DF_4_EDA.drop(columns=['title'], inplace=True)
print(DF_4_EDA.dtypes)
DF_4_EDA

Movie_Title     object
Year             int64
Genre           object
AVG_Rating     float64
Cost            object
Revenue         object
Language        object
dtype: object

,Movie_Title,Year,Genre,AVG_Rating,Cost,Revenue,Language
0,The Overnight,2010,None,7.5,"$200,000","$1,165,996",en
1,Anderson's Cross,2010,"Comedy,Drama,Romance",5.5,"$300,000",$0,en
2,Tangled,2010,"Adventure,Animation,Comedy",7.8,"$260,000,000","$586,477,240",en
3,Dinner for Schmucks,2010,Comedy,5.9,"$69,000,000","$86,796,502",en
4,The A-Team,2010,"Action,Adventure,Thriller",6.8,"$110,000,000","$177,241,171",en
...,...,...,...,...,...,...,...
2221,Dragon Ball Super: Broly,2018,"Action,Adventure,Animation",8.0,"$8,500,000","$122,747,755",ja
2222,Teefa in Trouble,2018,"Action,Comedy,Crime",7.4,"$1,500,000","$98,806",ur
2223,Fahrenheit 11/9,2018,Documentary,6.7,"$5,000,000","$6,653,715",en
2224,Hit & Run,2019,"Action,Comedy",7.1,"$22,000,000","$17,216,955",en
2225,Long Shot,2019,"Comedy,Romance",7.2,"$40,000,000","$43,711,031",en

In [18]:
DF_4_EDA['Revenue'] = DF_4_EDA['Revenue'].str.replace('$', '')
DF_4_EDA['Cost'] = DF_4_EDA['Cost'].str.replace('$', '')
print(DF_4_EDA.dtypes)
DF_4_EDA

Movie_Title     object
Year             int64
Genre           object
AVG_Rating     float64
Cost            object
Revenue         object
Language        object
dtype: object

,Movie_Title,Year,Genre,AVG_Rating,Cost,Revenue,Language
0,The Overnight,2010,None,7.5,"200,000","1,165,996",en
1,Anderson's Cross,2010,"Comedy,Drama,Romance",5.5,"300,000",0,en
2,Tangled,2010,"Adventure,Animation,Comedy",7.8,"260,000,000","586,477,240",en
3,Dinner for Schmucks,2010,Comedy,5.9,"69,000,000","86,796,502",en
4,The A-Team,2010,"Action,Adventure,Thriller",6.8,"110,000,000","177,241,171",en
...,...,...,...,...,...,...,...
2221,Dragon Ball Super: Broly,2018,"Action,Adventure,Animation",8.0,"8,500,000","122,747,755",ja
2222,Teefa in Trouble,2018,"Action,Comedy,Crime",7.4,"1,500,000","98,806",ur
2223,Fahrenheit 11/9,2018,Documentary,6.7,"5,000,000","6,653,715",en
2224,Hit & Run,2019,"Action,Comedy",7.1,"22,000,000","17,216,955",en
2225,Long Shot,2019,"Comedy,Romance",7.2,"40,000,000","43,711,031",en

In [19]:
DF_4_EDA['Revenue'] = DF_4_EDA['Revenue'].str.replace(',', '')
DF_4_EDA['Cost'] = DF_4_EDA['Cost'].str.replace(',', '')
print(DF_4_EDA.dtypes)
DF_4_EDA

Movie_Title     object
Year             int64
Genre           object
AVG_Rating     float64
Cost            object
Revenue         object
Language        object
dtype: object

,Movie_Title,Year,Genre,AVG_Rating,Cost,Revenue,Language
0,The Overnight,2010,None,7.5,200000,1165996,en
1,Anderson's Cross,2010,"Comedy,Drama,Romance",5.5,300000,0,en
2,Tangled,2010,"Adventure,Animation,Comedy",7.8,260000000,586477240,en
3,Dinner for Schmucks,2010,Comedy,5.9,69000000,86796502,en
4,The A-Team,2010,"Action,Adventure,Thriller",6.8,110000000,177241171,en
...,...,...,...,...,...,...,...
2221,Dragon Ball Super: Broly,2018,"Action,Adventure,Animation",8.0,8500000,122747755,ja
2222,Teefa in Trouble,2018,"Action,Comedy,Crime",7.4,1500000,98806,ur
2223,Fahrenheit 11/9,2018,Documentary,6.7,5000000,6653715,en
2224,Hit & Run,2019,"Action,Comedy",7.1,22000000,17216955,en
2225,Long Shot,2019,"Comedy,Romance",7.2,40000000,43711031,en

In [20]:
DF_4_EDA['Revenue'] = pd.to_numeric(DF_4_EDA['Revenue'])
DF_4_EDA['Cost'] = pd.to_numeric(DF_4_EDA['Cost'])
DF_4_EDA['RCR'] = DF_4_EDA['Revenue'] / DF_4_EDA['Cost']
print(DF_4_EDA.dtypes)
DF_4_EDA

Movie_Title     object
Year             int64
Genre           object
AVG_Rating     float64
Cost             int64
Revenue          int64
Language        object
RCR            float64
dtype: object

,Movie_Title,Year,Genre,AVG_Rating,Cost,Revenue,Language,RCR
0,The Overnight,2010,None,7.5,200000,1165996,en,5.829980
1,Anderson's Cross,2010,"Comedy,Drama,Romance",5.5,300000,0,en,0.000000
2,Tangled,2010,"Adventure,Animation,Comedy",7.8,260000000,586477240,en,2.255682
3,Dinner for Schmucks,2010,Comedy,5.9,69000000,86796502,en,1.257920
4,The A-Team,2010,"Action,Adventure,Thriller",6.8,110000000,177241171,en,1.611283
...,...,...,...,...,...,...,...,...
2221,Dragon Ball Super: Broly,2018,"Action,Adventure,Animation",8.0,8500000,122747755,ja,14.440912
2222,Teefa in Trouble,2018,"Action,Comedy,Crime",7.4,1500000,98806,ur,0.065871
2223,Fahrenheit 11/9,2018,Documentary,6.7,5000000,6653715,en,1.330743
2224,Hit & Run,2019,"Action,Comedy",7.1,22000000,17216955,en,0.782589
2225,Long Shot,2019,"Comedy,Romance",7.2,40000000,43711031,en,1.092776

In [21]:
print(DF_4_EDA)
print(DF_4_EDA.isna().sum())

                   Movie_Title  Year                       Genre  AVG_Rating  \
0                The Overnight  2010                        None         7.5
1             Anderson's Cross  2010        Comedy,Drama,Romance         5.5
2                      Tangled  2010  Adventure,Animation,Comedy         7.8
3          Dinner for Schmucks  2010                      Comedy         5.9
4                   The A-Team  2010   Action,Adventure,Thriller         6.8
...                        ...   ...                         ...         ...
2221  Dragon Ball Super: Broly  2018  Action,Adventure,Animation         8.0
2222          Teefa in Trouble  2018         Action,Comedy,Crime         7.4
2223           Fahrenheit 11/9  2018                 Documentary         6.7
2224                 Hit & Run  2019               Action,Comedy         7.1
2225                 Long Shot  2019              Comedy,Romance         7.2

           Cost    Revenue Language        RCR
0        200000    1165996       en   5.829980
1        300000          0       en   0.000000
2     260000000  586477240       en   2.255682
3      69000000   86796502       en   1.257920
4     110000000  177241171       en   1.611283
...         ...        ...      ...        ...
2221    8500000  122747755       ja  14.440912
2222    1500000      98806       ur   0.065871
2223    5000000    6653715       en   1.330743
2224   22000000   17216955       en   0.782589
2225   40000000   43711031       en   1.092776

[2226 rows x 8 columns]
Movie_Title    0
Year           0
Genre          2
AVG_Rating     0
Cost           0
Revenue        0
Language       0
RCR            0
dtype: int64